.topo{
    height: 50px;
    width: 100%;
    background-color: #673ab7;
}
.title{
    color: #fff;
    font-weight: 600;
    padding: .75em;
    font-size: 20px;
}
.estilo{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 26px;
    margin-bottom: 26px;
}
.margin{
    padding-bottom: 26px;
}