<div class="topo">
  <p class="title">Itaú Gastos Cartão</p>
</div>
<mat-tab-group>
  <mat-tab label="Lista Geral"> 
    <ul class="estilo" *ngFor="let geral of listGeral">
      <li>R$ {{ geral.valor }}</li>
      <li>{{ geral.origem }}</li>
    </ul>   
  </mat-tab>
  <mat-tab label="Por Mês"> 
    <ul class="estilo">
      <span *ngIf="janC">
      <li>R$ {{ valorJan }}</li>
      <li class="margin">Janeiro</li>
    </span>

    <span *ngIf="fevC">
      <li>R$ {{ valorFev }}</li>
      <li class="margin">Fevereiro</li>
    </span>

    <span *ngIf="marC">
      <li>R$ {{ valorMar }}</li>
      <li class="margin">Março</li>
    </span>

    <span *ngIf="abrC">
      <li>R$ {{ valorAbr }}</li>
      <li class="margin">Abril</li>
    </span>

    <span *ngIf="maiC">
      <li>R$ {{ valorMai }}</li>
      <li class="margin">Maio</li>
    </span>

    <span *ngIf="junC"> 
      <li>R$ {{ valorJun }}</li>
      <li class="margin">Junho</li>
    </span>

    <span *ngIf="julC">
      <li>R$ {{ valorJul }}</li>
      <li class="margin">Julho</li>
    </span>

    <span *ngIf="agoC">
      <li>R$ {{ valorAgo }}</li>
      <li class="margin">Agosto</li>
    </span>
    <span *ngIf="agoC">
      <li>R$ {{ valorSet }}</li>
      <li class="margin">Setembro</li>
    </span>
    <span *ngIf="outC">
      <li>R$ {{ valorOut }}</li>
      <li class="margin">Outubro</li>
    </span>
    <span *ngIf="novC">
      <li>R$ {{ valorNov }}</li>
      <li class="margin">Novembro</li>
    </span>
    <span *ngIf="dezC">
      <li>R$ {{ valorDez }}</li>
      <li class="margin">Dezembro</li>
    </span>
    </ul>  
    
  </mat-tab>
  <mat-tab label="Por Categoria"> 
    <ul class="estilo">
      <li>R$ {{ valorTransp }}</li>
      <li class="margin">{{ nomeTransp }}</li>

      <li>R$ {{ valorCompra }}</li>
      <li class="margin">{{ nomeCompra }}</li>

      
      <li>R$ {{ valorSaude }}</li>
      <li class="margin">{{ nomeSaude }}</li>

      <li>R$ {{ valorSerco }}</li>
      <li class="margin">{{ nomeSerco }}</li>

      <li>R$ {{ valorRest }}</li>
      <li class="margin">{{ nomeRest }}</li>

      <li>R$ {{ valorMerc }} </li>
      <li>{{ nomeMerc }}</li>
      
    </ul>  
  </mat-tab>
</mat-tab-group>